@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');


body {
    background-color: black;
    height: 100vh;
}

* {
    color: #DCDCEC;
    font-family: Poppins;
    line-height: normal;
    font-style: normal;
    font-weight: 400;

}

.cursor-pointer {
    cursor: pointer;
}